[core]
    excludesfile = ~/.gitignore_global
    quotepath = false
[user]
    email = 338@tutanota.de
    name = sammiya
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[pull]
    rebase = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[commit]
    verbose = true
[rebase]
    autosquash = true
    autostash = true
    updateRefs = true
[ghq]
    user = sammiya
[include]
    path = ~/.gitconfig.local
